<div class="container">
    <div class="card">
      <div class="card-header">Currency Converter</div>
      <div class="card-body">
        <form [formGroup]="conversionForm" (ngSubmit)="convertCurrency()">
          <div class="form-group">
            <mat-form-field>
              <mat-label>From Currency</mat-label>
              <mat-select formControlName="fromCurrency" required>
                <mat-option *ngFor="let currency of currencies" [value]="currency">
                  {{currency}}
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field>
              <mat-label>To Currency</mat-label>
              <mat-select formControlName="toCurrency" required>
                <mat-option *ngFor="let currency of currencies" [value]="currency">
                  {{currency}}
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field>
              <input matInput placeholder="Amount" formControlName="amount" type="number" required />
            </mat-form-field>
  
            <button mat-raised-button color="primary" type="submit" [disabled]="conversionForm.invalid">Convert</button>
          </div>
        </form>
  
        <div *ngIf="loading" class="loader">Loading...</div>
  
        <div *ngIf="conversionResult">
          <h3>Conversion Result</h3>
          <p>{{conversionForm.value.amount}} {{conversionForm.value.fromCurrency}} = {{conversionResult.convertedAmount}} {{conversionForm.value.toCurrency}}</p>
          <p>Rate: {{conversionResult.rate?.symbol}} {{conversionResult.rate?.name}}</p>
        </div>
      </div>
    </div>
  </div>
  